[submodule "dcn-sol/lib/eas-contracts"]
	path = dcn-sol/lib/eas-contracts
	url = https://github.com/ethereum-attestation-service/eas-contracts
[submodule "dcn-sol/lib/openzeppelin-contracts"]
	path = dcn-sol/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
